body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Segoe UI", sans-serif;
}
.form-field {
  position: relative;
}

.form-field .form-input {
  padding-right: 42px; /* eye icon ke liye space */
}

.eye-icon {
  position: absolute;
  bottom: 0;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.eye-icon:hover {
  color: #000;
}

@media (max-width: 767px) {
  .phone_view_grid {
    grid-template-columns: 1fr !important;
        gap: .5px !important;
  }
}